@import "tailwindcss";

:root {
  --header-height: 80px;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --text-h1: clamp(2.5rem, 2.29rem + 0.88vw, 3rem);
  --text-h1--line-height: 1.2;
  --text-h1--font-weight: 700;

  --text-h2: clamp(1.75rem, 1.65rem + 0.44vw, 2rem);
  --text-h2--font-weight: 700;
  --text-h2--line-height: 1.3;

  --text-h3: clamp(1.5rem, 1.4rem + 0.44vw, 1.75rem);
  --text-h3--font-weight: 700;
  --text-h3--line-height: 1.3;

  --text-h4: clamp(1.375rem, 1.32rem + 0.22vw, 1.5rem);
  --text-h4--font-weight: 400;
  --text-h4--line-height: 1.3;

  --text-body: clamp(1.125rem, 1.07rem + 0.22vw, 1.25rem);
  --text-body--font-weight: 400;
  --text-body--line-height: 1.3;

  --text-body-2: 1rem;
  --text-body-2--font-weight: 400;
  --text-body-2--line-height: 1.3;

  --color-primary: #0043FA;
  --color-secondary-light: #ACF019;
  --color-secondary-dark: #9BC915;
  --color-neutral-900: #02091D;
  --color-neutral-200: #F5F5F5;
  --color-neutral-100: #FCFCFC;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

h1, h2, h3, h4 {
  font-feature-settings: 'liga' off, 'clig' off;
}

/* html {
  overflow-x: hidden;
}

body {
  overflow-wrap: anywhere;
} */

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}